<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bus list</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stylebuslist.css' %}">
</head>
<body>
<div class="row">
    <div class="leftcolumn">
        <div class="box">
            <h1>Bus List</h1>
            {% for jojo in jojos %}
            <div class="card">
                <a style="text-decoration: none; color: #000080;" href="/display/{{jojo.id}}">
                    <h2>{{jojo.jaja}}</h2>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="text-center">
    <button class="btn-get-started">
        <a href="overall" style="text-decoration: none; color: #000080">
            Overall review
        </a>
    </button>
</div>
</body>
</html>