<!DOCTYPE html>
<html>
<head>
    <title>ETA</title>
    <style>
        #map {
            width: 800px;
            height: 600px;
        }

        #table-container {
            margin-top: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <div id="map"></div>

    <script src="https://www.bing.com/api/maps/mapcontrol?key=ArddRmKO9Knj9CzNhpXT9jBzKVKITGNyxOnV26wbuHLfGiAh8wC003AdSAFl8vmX&callback=loadMapScenario" async defer></script>
    <script>
        function loadMapScenario() {
            var tableBody = document.getElementById('table-body');
            var map = new Microsoft.Maps.Map(document.getElementById('map'), {
                center: new Microsoft.Maps.Location(3.1217, 101.6537),
                zoom: 16
            });

            var pins = []; // Array to store the created pins

            {% for location in locations %}
                var loc{{ forloop.counter }} = new Microsoft.Maps.Location({{ location.latitude }}, {{ location.longitude }});
                var pin{{ forloop.counter }} = new Microsoft.Maps.Pushpin(loc{{ forloop.counter }}, {color: 'blue'});
                map.entities.push(pin{{ forloop.counter }});

                var infobox{{ forloop.counter }} = new Microsoft.Maps.Infobox(loc{{ forloop.counter }}, {
                    title: 'You are here',
                    visible: true,
                });
                infobox{{ forloop.counter }}.setMap(map);
            {% endfor %}

            {% for item in user_info %}
                (function(routeId, stopId) {
                    setInterval(function() {
                        fetch(`/get_buslocation/${routeId}/${stopId}`)
                            .then(response => response.json())
                            .then(data => {
                                // Remove previous pins
                                pins.forEach(function(pin) {
                                    map.entities.remove(pin);
                                });
                                tableBody.innerHTML = '';
                                pins = [];

                                data.bus_location.forEach(function(location) {
                                    var newLocation = new Microsoft.Maps.Location(location.latitude, location.longitude);
                                    var pin = new Microsoft.Maps.Pushpin(newLocation, {color: location.color});
                                    var row = document.createElement('tr');
                                    var bus_infoCell = document.createElement('td');
                                    var etaCell = document.createElement('td');
                                    var distanceCell = document.createElement('td');
                                    var NextCell = document.createElement('td');
                                    var colorCell = document.createElement('td');

                                    bus_infoCell.textContent = location.plate_no;
                                    etaCell.textContent = location.eta;
                                    distanceCell.textContent = location.distance;
                                    NextCell.textContent = location.Next_station;
                                    colorCell.textContent = location.color;

                                    row.appendChild(bus_infoCell);
                                    row.appendChild(etaCell);
                                    row.appendChild(distanceCell);
                                    row.appendChild(NextCell);
                                    row.appendChild(colorCell);
                                    tableBody.appendChild(row);
                                    map.entities.push(pin);
                                    pins.push(pin);
                                });
                            });
                    }, 1000);  // Refresh every 1 second
                })('{{ item.route_id }}', '{{ item.stop_id }}');
            {% endfor %}
        }
    </script>

    <div id="table-container">
        <table>
            <thead>
                <tr>
                    <th>Bus Info</th>
                    <th>ETA</th>
                    <th>Distance</th>
                    <th>Next Station</th>
                    <th>Indicator</th>
                </tr>
            </thead>
            <tbody id="table-body"></tbody>
        </table>
    </div>
</body>
</html>
