<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Router</title>
    <link rel="stylesheet" type="text/css" href="{% static 'syleindex.css' %}">
</head>
<body>
<div class="background">
    <div class="row justify-context-center">
        <div class="col-x1-7 col-lg-9 text-center">
            <h1>Bus Router</h1>
            <h2>The best public bus planner</h2>
            <h3>We provide you with the precise real-time number of passengers and the</h3>
            <h3> most accurate estimated time of arrival to the nearest station!</h3>
        </div>
    </div>
</div>
<div class="box">
    <button>
        <b>
            <a href="login" style="text-decoration: none; color: #000080">
                Admin Login
            </a>
        </b>
    </button>
</div>
<div class="text-center">
    <button class="btn-get-started">
        <a href="selection" style="text-decoration: none; color: #000080">
            Get Started
        </a>
    </button>
</div>

</body>
</html>