<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bus Stops</title>
</head>
<body>
<div id="map" style="height: 500px;"></div>

  <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=ArddRmKO9Knj9CzNhpXT9jBzKVKITGNyxOnV26wbuHLfGiAh8wC003AdSAFl8vmX&callback=loadMapScenario' async defer></script>
  <script type='text/javascript'>
    function loadMapScenario() {
      var map = new Microsoft.Maps.Map(document.getElementById('map'), {
        center: new Microsoft.Maps.Location(3.1217, 101.6537),
        zoom: 15
      });

      {% for location in locations %}
        var loc{{ forloop.counter }} = new Microsoft.Maps.Location({{ location.latitude }}, {{ location.longitude }});
        var pin{{ forloop.counter }} = new Microsoft.Maps.Pushpin(loc{{ forloop.counter }}, {color: 'blue'});
        map.entities.push(pin{{ forloop.counter }});

        var infobox{{ forloop.counter }} = new Microsoft.Maps.Infobox(loc{{ forloop.counter }}, {
          title: '{{ location.name }}',
          description: '{{ location.stop_id }}',
          visible: false,
          actions: [
                {
                    label: 'View Details',
                    eventHandler: function () {
                        window.open('{{ location.url }}');
                    }
                }
            ]
        });
        infobox{{ forloop.counter }}.setMap(map);

        Microsoft.Maps.Events.addHandler(pin{{ forloop.counter }}, 'click', function () {
          infobox{{ forloop.counter }}.setOptions({ visible: true });
        });
      {% endfor %}
    }
  </script>
</body>
</html>